@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ROOT */

.root{
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
    cursor: url('../img/sword.png'),auto;
}

/* BODY */
body{
    background-color: cornsilk;
    font-size:20px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
}

/* theme */
.nightTheme{
    background-color: #111;

    .skills__title,.softSkills__list,.projects__inner h3,p{
        color: #ffffff;
    }

    .profile__info p{
        color: #111;
    }
}

/* CONTAINER */
.container{
    max-width:1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* HEADER */
.header{
    width: 100%;
    padding: 100px 0 10px 20px;
}

.header__links{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.header__links a{
    border: 1px solid black;
    padding: 5px 8px;
    background-color: #fff;
    transition: all .3s ease;
}

.theme{
    border: 1px solid black;
    padding:8px;
    background-color: #fff;
    cursor: pointer;
    transition: all .4s ease;
}

.theme:hover{
    background-color: rgb(168, 153, 255);
}

.header__links a:hover{
    background-color: rgb(168, 153, 255);
}

/* PROFILE */
.profile{
    padding: 50px 0 50px 0;
}

.profile__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.profile__pic img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.profile__info{
    max-width: 700px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
    background: rgb(168, 153, 255);
    padding: 20px;
}

.profile__link .message {
    padding: 10px;
    background-color: transparent;
    border: 1px solid #000;
    background-color: #fff;

    transition: all .3s ease;
    cursor: pointer;
}

.profile__link .message a{
    color: #000;
}

.profile__link .message:hover{
    background: rgb(168, 153, 255);
}

/* SKILLS */
.skills{
    padding: 0 0 50px 0;
}
.skills__title{
    text-align: center;
    margin-bottom: 20px;
}

.softSkills__title{
    text-align: center;
    margin-top: 30px;
}

.softSkills__list{
    list-style: square;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills__icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.skills__icon img{
    width: 150px;
    height: 150px;
}

.skills__icon p{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(168, 153, 255);
}

.skills__icon p:nth-child(1)  {
    background: #e34f26;
}

.skills__icon p:nth-child(2)  {
    background: rgb(36 101 241);
}

.skills__icon p:nth-child(3)  {
    background: #f7e018;
}

.skills__icon p:nth-child(4)  {
    background: #00d8ff;
}

/* Socials */
.socials{
    padding-bottom: 50px;
}
.socials__title{
    text-align: center;
    margin-bottom: 20px;
}

.socials__icon{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;

}

.socials__icon button{
    border: none;
    background-color: transparent;

    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid #000;
    gap: 10px;
    cursor: pointer;
    transition: all .4s ease;
}

.socials__icon button:hover{
    transform: translateY(-10px);
}

.socials__icon button>img{
    width: 50px;
    height: 50px;
}

/* projects */
.projects {
    padding-bottom: 50px;
}

.projects__inner{
    text-align: center;
}

/* FOOTER */
.footer__inner{
    padding: 20px 0 20px 0;
    background: rgb(168, 153, 255);
    text-align: center;
}


